/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.adjectives {
	font-weight: bold;
}

#main {
	background-image: src="images/frame.png";
}

.phone {
	float: left;
	padding: 15px;
}

.logo {
	margin-top: 20px;
}

footer a{
	text-decoration: none;
	
}