/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  background: url("../images/bgtile.png") repeat-x;
  /*background: blue;*/
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px 0 10px 0;
}

.adjectives {
	font-weight: bold;
}


.main {
	

}
.content {
	background: url("../images/frame.png") no-repeat;
	min-height: 204px;
	padding: 40px;
	width: 424px;
	display: inline-block;
	


}

.phone {
	float: left;
	padding: 15px;
}

.logo {
	margin-top: 20px;
}

footer a{
	text-decoration: none;
	padding: 5px;
	font-weight: 800px;
	display: inline-block;
	color: #1c5380;

}

footer {
	clear: both;
}

