/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  background: url("../images/bgtile.png") repeat-x;
  background-color: white;
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px 0 10px 0;
  
}

.adjectives {
	font-weight: bold;
}


.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	

}
.content {
	background: url("../images/frame.png") no-repeat;
	min-height: 204px;
	padding: 40px;
	width: 424px;
	display: inline-block;	
}


.headline {
	margin: auto;

}

.description {
	margin: 15px;
}

.badge {

}

.phone {
	float: left;
	padding: 15px;
	display: flex;
	align-self: flex-start;
}

.logo {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	position: center;
}


.copyright {
	align-self: flex-end;
}


/*footer p {
	text-align: center;
}*/


footer a {
	text-decoration: none;
	padding: 5px;
	font-weight: bold;
	display: inline-block;
	color: #1c5380;
	text-transform: uppercase;


}

footer a:hover {
	text-decoration: underline;
}

footer {
	clear: both;
	/*display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-end;
}*/

